<div class="home-cards__conteiner">
  <app-card imgPath="assets\image\bt-1.jpg" textTag="Exclusive" textMktMessage="Play It Now!" textTypeAndHardware="Full Game | PS4 | PS5" textValue="$99.99"></app-card>
  <app-card imgPath="assets\image\bt-4.jpg" textTag="Cross Buy" textMktMessage="Buy Now!" textTypeAndHardware="Digital Game | PS4 | PS5 | On Line" textValue="$199.99"></app-card>
  <app-card imgPath="assets\image\bt-5.jpg" textTag="Exclusive" textMktMessage="Play It Now!" textTypeAndHardware="Full Game | PS5" textValue="$299.99"></app-card>
  <app-card imgPath="assets\image\ac-cover.jpg" textTag="Cross Buy" textMktMessage="Buy Now!" textTypeAndHardware="Digital Game | PS4 | PS5" textValue="$499.99"></app-card>
  <app-card imgPath="assets\image\bt-bad-company-2.jpg" textTag="Exclusive" textMktMessage="Play It Now!" textTypeAndHardware="Full Game | PS5" textValue="$9.99"></app-card>
  <app-card imgPath="assets\image\bt-hardline.jpg" textTag="Cross Buy" textMktMessage="Buy Now!" textTypeAndHardware="Digital Game | PS4 | PS5" textValue="$99.99"></app-card>
</div>
